<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>
<style type="text/css">
    .frame {
        padding : 20px;
    }
    textarea {
        resize: none;
        width: 100%;
    }
    body {
        padding : 30px;
    }
    th {
        background: #343a40;
        color: #fff;
    }
    .comment-box {
        border: 1px solid;
        min-height: 100px;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 20px;
    }
    </style>
<body>
    <div align="right"><a href="./logout">로그아웃</a></div>
    <h2>게시글</h2>
    <div align="center" class="frame">
        <table class="table table-bordered">
            <colgroup>
                <col width="10%">
                <col width="40%">
                <col width="10%">
                <col width="40%">
            </colgroup>
            <tr>
                <th>제목</th>
                <td colspan="3"><%=title%></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td><%=new Date(wdate).toLocaleDateString()%></td>
                <th>정보</th>
                <td><%=info%></td>
            </tr>
            <tr>
                <th>조회수</th>
                <td><%=readcount%></td>
                <th>작성자</th>
                <td><%=id%></td>
            </tr>
            <tr>
                <th>내용</th>
                <td colspan="3"><%=content%></td>
            </tr>
        </table>
        <button onclick="answerBbs(<%=seq%>)">답글</button>
        <button onclick="location.href='./bbslist'">목록</button>

        <%if(loginId == id) {%>
        <button onclick="updateBbs(<%=seq%>)">수정</button>
        <button onclick="deleteBbs(<%=seq%>)">삭제</button>
        <%}%>

        <br><br><br>
        <div>
            <div class="row">
                <div class="col-lg-1"></div>
                <h3 class="col-lg-11"style="text-align: left;">COMMENT</h3>
            </div><br>
            <div class="row">
                <div class="col-lg-1"></div>
                <textarea id="content" name="content" class="col-lg-9" rows="3"></textarea>
                <input class="col-lg-1" onclick="comment_save(<%=seq%>)" style="margin-left: 10px;" type="button" value="저장"/>
                <div class="col-lg-1"></div>
            </div>
            <br><hr><br>
            <div class="comment">
            </div>

        </div>

    </div>

    <script>

        function comment_save(seq) {
            let content = $("#content").val();

            $.ajax({
                url: "./save-comment",
                type: "post",
                data: {
                    content: content,
                    board_seq: seq
                },
                success: function(data) {
                    if(data.result == "OK") {
                        alert('댓글이 입력되었습니다.');
                        get_comment_list(seq);
                        $("#content").val('');
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function get_comment_list(seq) {
            $.ajax({
                url: "./get-comment-list",
                type: "post",
                data: {
                    board_seq: seq
                },
                success: function(data) {
                    if(data.result == "OK")
                        make_comment_list(data.datas, data.loginID);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function make_comment_list(data, loginID) {
            var doc = "";
            for(let i = 0; i < data.length; i++) {
                var tr = `<div class="comment-list row">
                            <div class="col-sm-1"></div>
                            <span class="col-sm-1">${data[i].ID}</span>
                            <div class="col-sm-8 comment-box" style="text-align: left;">`;
				if(data[i].DEL == 1) {
					tr += "<span style='color:red;'>삭제된 댓글입니다.</span>";
				}else {
					tr += `<span>${data[i].CONTENT}</span>`;
				}
					tr += `<sub>(${new Date(data[i].WDATE).toLocaleString()})</sub>
							</div>
                            <div class="col-sm-1">`;
                if(data[i].ID == loginID && data[i].DEL == 0) {
                    tr += `<a href="javascript:deleteComment(${data[i].SEQ})">삭제</a>`;
                }
                    tr += `</div>
                            <div class="col-sm-1"></div>
                            </div> `;
                doc += tr;
            }
            $(".comment").empty();
            $(".comment").append(doc);
        }

        function answerBbs(seq) {
            location.href = "./answer?seq=" + seq;
        }

        function deleteBbs(seq) {
            $.ajax({
                url: "./delete",
                type: "post",
                data: {
                    seq: seq
                },
                success: function(data) {
                    if(data.result == "OK") {
                        alert("게시글이 삭제되었습니다.");
                        location.href = "./bbslist";
                    }else {
                        alert("잘못된 접근입니다.");
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function updateBbs(seq) {
            location.href = "./update?seq=" + seq;
        }

        function deleteComment(seq) {
            if(confirm('정말 삭제하시겠습니까?')) {
                $.ajax({
                    url: "./delete-comment",
                    type: "post",
                    data: {
                        seq: seq
                    },
                    success: function(data) {
                        if(data.result == "OK") {
                            alert('삭제되었습니다.');
                            get_comment_list(<%=seq%>);
                        }else
                            alert('잘못된 접근입니다.');
                    }
                });
            }
        }

        get_comment_list(<%=seq%>);
    </script>

    </body>
</html>
